* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
}

.main__width {
    padding: 0 10vw 0 10vw;
    width: 80vw;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 1em;
}

span {
    color: #25C8AD;
    font-weight: 700;
}

ol>li {
    display: inline-block;
    list-style: none;
    float: left;
    width: 150px;
    margin-left: 1px;
    color: inherit;
    height: 1em;
    text-align: center;
    font-weight: 700;
    cursor: default;
}

ol>li:not(:first-of-type) {
    cursor: pointer;
}

ol li>ul {
    list-style: none;
    clear: left;
    display: none;
    padding: 10px;
    margin-top: 1.5em;
    background-color: black;
    text-align: left;
    color: inherit;
    font-weight: 400;
}

ol>li:hover>ul {
    display: block;
    color: white;
    position: relative;
}

ol>li:hover>ul>li {
    padding: 5px;
    cursor: pointer;
}

ol>li:hover>ul:before {
    content: "";
    display: block;
    transform: rotate(45deg);
    width: 1em;
    height: 1em;
    background-color: black;
    position: absolute;
    top: -.5em;
    right: 75px;
}

a {
    text-decoration: none;
    color: white;
}
